#### SQL / Python - Presidents

In [1]:
import sqlalchemy.exc
import pandas as pd
import os
os.add_dll_directory(r'c:\users\delic\anaconda3\lib\site-packages\clidriver\bin')
import ibm_db
import ibm_db_sa

In [3]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [4]:
# %sql ibm_db_sa://my-username:my-password@hostname:port/BLUDB?security=SSL
%sql ibm_db_sa://pdm92446:LQuQlJpCY1aPijlQ@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/BLUDB?security=SSL

In [6]:
%%sql
SELECT * FROM PRESIDENTS

 * ibm_db_sa://pdm92446:***@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/BLUDB?security=SSL
Done.

[(33, 1956, 1962, 'Terrance Cantrell', 'NRC', 6),
 (34, 1962, 1965, 'Daniella Wallace', 'DSU', 3),
 (35, 1965, 1968, 'Keenan Ritter', 'DSU', 3),
 (36, 1968, 1974, 'Madeline Silva ', 'NRC', 6),
 (37, 1974, 1980, 'Douglas Malone', 'L', 6),
 (38, 1980, 1992, 'John Major ', 'NRC', 12),
 (39, 1992, 2010, 'Benjamin McKinley ', 'DSU', 18),
 (40, 2010, 2016, 'David Cameron', 'NRC', 6),
 (41, 2016, 2022, 'Theresa May', 'L', 6),
 (42, 2022, 2040, 'Andreas Schmitt', 'DSU', 18)]

In [7]:
df = %sql SELECT * FROM PRESIDENTS

 * ibm_db_sa://pdm92446:***@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/BLUDB?security=SSL
Done.

In [12]:
df = df.DataFrame()

In [9]:
df.head()

   id  START   END               name party  tenure
0  33   1956  1962  Terrance Cantrell   NRC       6
1  34   1962  1965   Daniella Wallace   DSU       3
2  35   1965  1968      Keenan Ritter   DSU       3
3  36   1968  1974    Madeline Silva    NRC       6
4  37   1974  1980     Douglas Malone     L       6

In [10]:
df.to_csv('presidents.csv')